body {
    margin: 0;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
    max-width: 400px;
}

#userInput {
    border-radius: 20px;
    width: 100%;
    font-size: large;
    padding-left: 20px;
}

#readonlyInput {
    max-width: 374px;
    border-radius: 20px;
    width: 400px;
    height: 46px;
    padding-left: 20px;
    margin: 0;
}